.card {
  display: grid;
  grid-template-columns: 36vh;
  grid-template-rows: 30vh 27vh 8vh;
  grid-template-areas: "image" "text" "footer";

  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 15px black;
  text-align: center;
  margin: 5px 2px;
}

.cardImg {
  grid-area: image;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
  background-position: center bottom;
}

.cardText {
  grid-area: text;
  margin: 2vh;
}

.cardText span {
  margin-top: 0px;
  font-weight: bold;
  font-size: 1.5rem;
}

.cardText p {
  color: gray;
  font-size: 1rem;
  height: 70%;
  overflow: auto;
}

.cardFooter {
  grid-area: footer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #FF0080;

  display:flex;
  justify-content: center;
  align-items: center;
}

.cardFooter span {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.cardFooter:hover {
  cursor: pointer;
  background-color: #D9006C;
}

.cardFooter:active {
  border-style: solid;
  border-color: #FF95CA;
  border-width: 3%;
}